@model Mercado.NET.Web.Ui.Models.Compra

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataVenda)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
